{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login-HMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'login/style.css' %}">
    <style>
       
    </style>
	</head>
	<body class="img js-fullheight text-dark" style="color: black;">
	<section class="text-dark ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login </h2>
				</div>
			</div>
			<div class="row justify-content-center " >
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
				  <!-- Success Message Display -->
				  {% if messages %}
				
					
					  {% for message in messages %}
					 
					  <h6 class="mb-4 text-center text-success font-weight-bolder">{{ message }}<h6>
					  
					  {% endfor %}
				
				  {% endif %}
				  {% if not messages %}
				  <h3 class="mb-4 text-center">Login to your account</h3>
				  {% endif %}
				  <!-- End Success Message Display -->
		      	
		      	<form action="#" class="signin-form">
                    <div class="form-group " >
                       
                        <select id="role-select" class="form-control " required >
                          
                            <option value="patient">Patient</option>
                            <option value="doctor">Doctor</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3 " >Sign In</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff"></a>
								</div>
	            </div>
	          </form>
	          <p class="w-100 text-center">&mdash; Or Sign Up here &mdash;</p>
              <div class="form-group">
                <a type="" class="form-control btn btn-success bg-info px-3" href="{% url 'register' %}">Sign Up</a>
            </div>
		      </div>
				</div>
			</div>
		</div>
	</section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>

