<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    {% load static %}
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'patient/assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'patient/assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
     
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <a class="" href="index.html"><img src="{% static 'patient/assets/images/logo.png' %}" alt="logo" width="200px" style="margin-left: 20px;"/></a>
          
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link " href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="{% static 'patient/assets/images/avatar.jpg' %}" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{ request.user.username }}</p>
                </div>
              </a>
             
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
           
          
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="{% url 'logout' %}" onclick="return confirmLogout();">
                <i class="mdi mdi-logout"></i>
              </a>
            </li>
            <script>
              function confirmLogout() {
                return confirm("Are you sure you want to log out?");
              }
            </script>
            
           
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="{% static 'patient/assets/images/avatar.jpg' %}" alt="profile" />
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">{{ request.user.username }}</span>
                  <span class="text-secondary text-small">Admin Profile</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'patient_dashboard' %}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="{% url 'appointments' %}" aria-expanded="false" aria-controls="icons">
                <span class="menu-title">Appointments</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="{% url 'discharge' %}" aria-expanded="false" aria-controls="forms">
                <span class="menu-title">Discharge</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
             
            </li>
            
            
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            {% block content %}

            <div class="row">

              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Pending List</h4>
                    {% if not pendingusers %}
                    <br>
                    <h4 class="card-title">No Pending Users</h4>
                    {% else %}
                    <div class="table-responsive">
                      <table class="table usertable" >
                        <thead>
                          <tr>
                            <th> User Name </th>
                            <th> Email </th>
                            <th> Status </th>
                            <th> User Type </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for user in pendingusers %}
                          <tr>
                            <td> {{ user.username }} </td>
                            <td> {{ user.email }} </td>
                            {% if user.status == 'confirmed' %}
                            <td> <label  class="badge badge-success"> {{ user.status }}</label> </td>
                            {% elif user.status == 'cancelled' %}
                            <td> <span class="badge badge-danger">Rejected</span> </td>
                            {% else %}
                            <td> <span class="badge badge-warning">Pending</span> </td>
                            {% endif %}
                            <td> {{ user.user_type }} </td>
                            <td >
                              {% if user.status != 'confirmed' %}
                              <form method="post" action="{% url 'approve_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success btn-sm">Approve</button>
                              </form>
                          
                              {% endif %}
                              <form method="post" action="{% url 'reject_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                              </form>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>

              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Patient List</h4>
                    <div class="table-responsive">
                      <table class="table usertable">
                        <thead>
                          <tr>
                            <th> User Name </th>
                            <th> Email </th>
                            <th> Status </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for user in patients %}
                          <tr>
                            <td> {{ user.username }} </td>
                            <td> {{ user.email }} </td>
                            {% if user.status == 'confirmed' %}
                            <td> <label  class="badge badge-success"> {{ user.status }}</label> </td>
                            {% elif user.status == 'cancelled' %}
                            <td> <span class="badge badge-danger">Rejected</span> </td>
                            {% else %}
                            <td> <span class="badge badge-warning">Pending</span> </td>
                            {% endif %}
                            <td>
                              {% if user.status != 'confirmed' %}
                              <form method="post" action="{% url 'approve_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success btn-sm">Approve</button>
                              </form>
                              {% endif %}
                              <form method="post" action="{% url 'reject_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                              </form>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Doctor List</h4>
                    <div class="table-responsive">
                      <table class="table usertable">
                        <thead>
                          <tr>
                            <th> User Name </th>
                            <th> Email </th>
                            <th> Status </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for user in doctors %}
                          <tr>
                            <td> {{ user.username }} </td>
                            <td> {{ user.email }} </td>
                            {% if user.status == 'confirmed' %}
                            <td> <label  class="badge badge-success"> {{ user.status }}</label> </td>
                            {% elif user.status == 'cancelled' %}
                            <td> <span class="badge badge-danger">Rejected</span> </td>
                            {% else %}
                            <td> <span class="badge badge-warning">Pending</span> </td>
                            {% endif %}
                            <td>
                              {% if user.status != 'confirmed' %}
                              <form method="post" action="{% url 'approve_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success btn-sm">Approve</button>
                              </form>
                              {% endif %}
                              <form method="post" action="{% url 'reject_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                              </form>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Admin List</h4>
                    <div class="table-responsive">
                      <table class="table usertable">
                        <thead>
                          <tr>
                            <th> User Name  </th>
                            <th> Email </th>
                            <th> Status </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                        
                          {% for user in admins %}
                          {% if not user.username == None %}
                          
                            <tr>
                            <td> {{ user.username  }} </td>
                            <td> {{ user.email }} </td>
                            {% if user.status == 'confirmed' %}
                            <td> <label  class="badge badge-success"> {{ user.status }}</label> </td>
                            {% elif user.status == 'cancelled' %}
                            <td> <span class="badge badge-danger">Rejected</span> </td>
                            {% else %}
                            <td> <span class="badge badge-warning">Pending</span> </td>
                            {% endif %}
                            <td>
                              {% if user.status != 'confirmed' %}
                              <form method="post" action="{% url 'approve_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success btn-sm">Approve</button>
                              </form>
                              {% endif %}
                              <form method="post" action="{% url 'reject_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                              </form>
                            </td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
            {% endblock %}

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a href="#" target="_blank">Haplle</a>. All rights reserved.</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
 
    
  </body>
</html>
