{% extends 'patient/dashboard.html' %}
{% block content %}
<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Your Appointments</h6>
        {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
      </div>
      <table class="table " id="dev-table">
        <thead>
          <tr>
            <th>Doctor Name</th>
            <th>Created At</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th> 
          </tr>
        </thead>
        {% for a in appointments %}
        <tr>
          <td> {{a.doctor.profile.name}}</td>
          <td>{{a.created_at}}</td>
          <td>{{a.appointment_date}}</td>
          <td>
            {% if a.status == 'pending' %}
                <label class="badge badge-danger">Pending</label>
            {% elif a.status == 'confirmed' %}
                <label class="badge badge-success">Confirmed</label>
            {% elif a.status == 'rescheduled' %}
                <label class="badge badge-warning">Rescheduled</label>
            {% elif a.status == 'cancelled' %}
                <label class="badge badge-info">Cancelled</label>
            {% endif %}
        </td>
        <td>  
          {% if a.status == 'pending' %}
              <form method="POST" action="{% url 'cancel_appointment' a.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
              </form>
              <a href="{% url 'reschedule_appointment' a.id %}" class="btn btn-warning btn-sm">Reschedule</a>
            {% elif a.status == 'cancelled' %}
              <a href="{% url 'reschedule_appointment' a.id %}" class="btn btn-warning btn-sm">Reschedule</a>
            {% endif %}
        </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}