<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    {% load static %}
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'patient/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'patient/assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'patient/assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
     
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <a class="" href="index.html"><img src="{% static 'patient/assets/images/logo.png' %}" alt="logo" width="200px" style="margin-left: 20px;"/></a>
          
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link " href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="{% static 'patient/assets/images/avatar.jpg' %}" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{ request.user.username }}</p>
                </div>
              </a>
             
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
           
          
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="{% url 'logout' %}" onclick="return confirmLogout();">
                <i class="mdi mdi-logout"></i>
              </a>
            </li>
            <script>
              function confirmLogout() {
                return confirm("Are you sure you want to log out?");
              }
            </script>
            
           
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="{% static 'patient/assets/images/avatar.jpg' %}" alt="profile" />
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">{{ user_profile.name }}</span>
                  <span class="text-secondary text-small">Patient Profile</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'patient_dashboard' %}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="{% url 'appointments' %}" aria-expanded="false" aria-controls="icons">
                <span class="menu-title">Appointments</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="{% url 'discharge' %}" aria-expanded="false" aria-controls="forms">
                <span class="menu-title">Discharge</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
             
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="{% url 'tips' %}" aria-expanded="false" aria-controls="forms">
                <span class="menu-title">Health Tips/Resources</span>
                <i class="mdi mdi-class menu-icon"></i>
              </a>
             
            </li>
            
            
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            {% block content %}

            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Welcome {{ user_profile.name }}
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <h3> Name : {{ user_profile.name }}</h3>
                    <h5>Age : {{ user_profile.age }}</h5>
                    <h5>Phone no : {{ user_profile.phone_no }}</address> </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <h3>Admit date : </h3>
                    <h5>Symptoms : </h5>
                    <h5>Discharge : </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                   <h3>Bill status : </h3>
                   <h5>Bill amount : </h5>
                  </div>
                </div>
              </div>
            </div>
       
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"> Doctors</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th> Doctor Name </th>
                            <th> Department </th>
                            <th> Avalability Status  </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for doctor in doctors %}
                          <tr>
                            <td> Dr {{ doctor.name }} </td>
                            <td> {{ doctor.department }} </td>
                            {% if doctor.doctor_availability %}
                            <td> <label for="" class="badge badge-success"> Available</label> </td>
                            {% else %}
                            <td> <label for="" class="badge badge-danger"> On Leave</label></td>
                            {% endif %}
                            <td>
                              {% if doctor.doctor_availability %}
                              <a class="btn btn-gradient-primary btn-sm " href="{% url 'bookappointment' doctor.id %}">Book Appointment</a>
                              {% else %}
                              <a class="btn btn-gradient-primary btn-sm disabled" href="">Book Appointment</a>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            {% endblock %}

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a href="#" target="_blank">Haplle</a>. All rights reserved.</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
 
    
  </body>
</html>
